@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="pt-4 pb-4">
    <div class="is-content">
        <a href="/umbraco/" target="_blank">Umbraco</a><br/>
        <a href="/test/">Test</a>
    </div>
</div>