@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!DOCTYPE html>
<html lang="nl">
<head prefix="og:http://ogp.me/ns#">
    <title>@Model.Name</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>