<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7604c468-dc97-44be-820e-e227ec1e7a3e" Alias="SVG Icon Links (multiple)" Level="2">
  <Info>
    <Name>SVG Icon Links (multiple)</Name>
    <EditorAlias>SvgIconLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{
  "svgPath": "/icons/linearicons.svg",
  "minNumber": 0,
  "maxNumber": 6,
  "primaryClassItems": [
    {
      "name": "",
      "value": ""
    },
    {
      "name": "Large",
      "value": "is-size-3"
    },
    {
      "name": "Medium",
      "value": "is-size-5"
    },
    {
      "name": "Small",
      "value": "is-size-7"
    }
  ],
  "secondaryClassItems": [
    {
      "name": "",
      "value": ""
    },
    {
      "name": "Bold",
      "value": "has-text-weight-bold"
    },
    {
      "name": "Italic",
      "value": "is-italic"
    }
  ],
  "hideIconPicker": false
}]]></Config>
</DataType>