<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b44aee22-b90c-4995-8246-0be8551d24d7" Alias="SVG Icon Links (single)" Level="2">
  <Info>
    <Name>SVG Icon Links (single)</Name>
    <EditorAlias>SvgIconLinksPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{
  "svgPath": "/icons/symbol-defs.svg",
  "minNumber": 0,
  "maxNumber": 1,
  "primaryClassItems": [
    {
      "name": "",
      "value": ""
    },
    {
      "name": "Large",
      "value": "is-size-2"
    },
    {
      "name": "Medium",
      "value": "is-size-4"
    },
    {
      "name": "Small",
      "value": "is-size-6"
    }
  ],
  "secondaryClassItems": [
    {
      "name": "",
      "value": ""
    },
    {
      "name": "Bold",
      "value": "has-text-weight-bold"
    },
    {
      "name": "Italic",
      "value": "is-italic"
    }
  ],
  "hideIconPicker": false
}]]></Config>
</DataType>