<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9de508a2-5291-48cb-8933-07b89d8b55c4" Alias="testPage" Level="1">
  <Info>
    <Name>Test Page</Name>
    <Icon>icon-lab color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TestPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6cb0ad4-015b-4793-b515-d1dede6ad593">TestPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5548e920-0bcd-46cf-8ffa-a3673bafa770</Key>
      <Name>Buttons (multiple)</Name>
      <Alias>buttonsMultiple</Alias>
      <Definition>8bb2f46f-70c7-4ffc-a083-26294056992e</Definition>
      <Type>SvgIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d1d7fdf-204e-4ce1-85bc-93974513fbda</Key>
      <Name>Buttons (single)</Name>
      <Alias>buttonsSingle</Alias>
      <Definition>6b9490be-2cdf-4602-9f0d-875c3ad35755</Definition>
      <Type>SvgIconButtonsPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b44fd4fb-f04f-449d-9d38-1a1b3785b071</Key>
      <Name>SVG Icon (multiple)</Name>
      <Alias>iconMultiple</Alias>
      <Definition>922a5d7b-d90f-41e7-a188-57c31403627e</Definition>
      <Type>SvgIconPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Min: 2, Max: 3]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c26c05b0-0cef-4475-9e47-eb32668e3479</Key>
      <Name>SVG Icon (single)</Name>
      <Alias>iconSingle</Alias>
      <Definition>88753dda-b1b0-468f-99c9-70a6f8726d37</Definition>
      <Type>SvgIconPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d6f3e58-6859-48f4-a274-d401c1fbd199</Key>
      <Name>Links (multiple)</Name>
      <Alias>linksMultiple</Alias>
      <Definition>7604c468-dc97-44be-820e-e227ec1e7a3e</Definition>
      <Type>SvgIconLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Min: 0, Max: 6]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>516ecd17-5d22-429e-b9c6-6b43e39532f4</Key>
      <Name>Links (single)</Name>
      <Alias>linksSingle</Alias>
      <Definition>b44aee22-b90c-4995-8246-0be8551d24d7</Definition>
      <Type>SvgIconLinksPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39660c6e-15f4-4ce9-a2c3-0a303094bd1d</Key>
      <Caption>Test</Caption>
      <Alias>test</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>