<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88753dda-b1b0-468f-99c9-70a6f8726d37" Alias="SVG Icon (single)" Level="2">
  <Info>
    <Name>SVG Icon (single)</Name>
    <EditorAlias>SvgIconPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0,
  "svgPath": "/icons/symbol-defs.svg"
}]]></Config>
</DataType>