<?xml version="1.0" encoding="utf-8"?>
<DataType Key="922a5d7b-d90f-41e7-a188-57c31403627e" Alias="SVG Icon (multiple)" Level="2">
  <Info>
    <Name>SVG Icon (multiple)</Name>
    <EditorAlias>SvgIconPropertyEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 3,
  "minNumber": 2,
  "svgPath": "/icons/linearicons.svg"
}]]></Config>
</DataType>